.success-legend {
    height: 20vh;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: 6vh;
    background-image: linear-gradient(to right top, #7a9e7e, #3d7b74, #0a5767, #0c314d, #160c28);
}