@media only screen and (min-width : 992px) {
    .input-min {
        margin-right: 1rem;
    }
}

.filter-button {
    margin-bottom: 1rem;
}

table {
     box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
     -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
     margin-top: 1rem;
}

.row-input-field{
    font-size: 0.8rem;
    transition: all 0.30s ease-in-out;
    text-align: center;
    height: 3rem;
    outline: none;
    border-radius: 10px;
    width: 100%;
    /* border: 2px solid rgba(0, 0, 0, 0.3); */
}

.row-input-field:focus {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

