body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./assets/background.jpg'); */
  /* background: linear-gradient(90deg, #141e30, #243b55) */
}

fieldset {
  background: white;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* border-top: 1px solid #888888;
  border-left: 1px solid #888888; */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

legend {
  background-color: #39a0ed;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  /* font-size: 1.2rem; */
  font-weight: bold;
}

.form-label{
  /* font-size: 1.5rem; */
  font-weight: bold;
}

.form-control {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
  /* border-radius: 25px; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
  border-bottom: 0px;
  font-size: 0.8rem;
  transition: all 0.30s ease-in-out;
  text-align: center;
  height: 3rem;
  box-shadow: 0 1.4px 1.1px rgba(0, 0, 0, 0.034),
  0 1.7px 1.4px rgba(0, 0, 0, 0.048),
  0 3.1px 2.5px rgba(0, 0, 0, 0.06),
  0 2.2px 2px rgba(0, 0, 0, 0.072),
  0 2.5px 2px rgba(0, 0, 0, 0.086),
  0 10px 5px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  letter-spacing: 1px;
}

.form-check{
  font-size: 0.8rem;
}

.form-control:hover {
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.form-control:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.row{
  margin-left: 0;
  margin-right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  box-shadow: 0 1.4px 1.1px rgba(0, 0, 0, 0.034),
  0 3.4px 2.7px rgba(0, 0, 0, 0.048),
  0 6.2px 5px rgba(0, 0, 0, 0.06),
  0 5.5px 4.5px rgba(0, 0, 0, 0.072),
  0 5px 4px rgba(0, 0, 0, 0.086),
  0 5px 5px rgba(0, 0, 0, 0.12);
  font-weight: bold;
}