.sidebar-section img {
    width: 100%;
    margin-bottom: 2em;
}
legend{
  background-color: #0a5767;
}
/* fieldset {
    background-image: linear-gradient(to right top, #7a9e7e, #3d7b74, #0a5767, #0c314d, #160c28);
    color: white;
} */
