.section-heading {
    background-color: #39a0ed;
    padding: 10px 10px 5px 10px;
    color: white;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 0 1.4px 1.1px rgba(0, 0, 0, 0.034),
    0 1.7px 1.4px rgba(0, 0, 0, 0.048),
    0 3.1px 2.5px rgba(0, 0, 0, 0.06),
    0 2.2px 2px rgba(0, 0, 0, 0.072),
    0 2.5px 2px rgba(0, 0, 0, 0.086),
    0 10px 5px rgba(0, 0, 0, 0);
}
