/* img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: transparent;
} */

.carousel {
  box-shadow: 0 0px 1.1px rgba(0, 0, 0, 0.039),
  0 0px 2.6px rgba(0, 0, 0, 0.057),
  0 0px 4.9px rgba(0, 0, 0, 0.07),
  0 0px 8.7px rgba(0, 0, 0, 0.083),
  0 0px 16.3px rgba(0, 0, 0, 0.101),
  0 0px 39px rgba(0, 0, 0, 0.14);
  margin-bottom: 1rem;
}

img{
  image-rendering: auto;
  image-rendering: crisp-edges;

}
